.display {
    font-family: 'Calculator', 'Arial', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    width: 320px;
    min-height: 32px;
    padding: 0 4px 6px 4px;
    border: none;
    user-select: text;
    cursor: default;
    background-color: #000000;
    color: #ffffff;
    text-align: end;
  }
  
  .display__formula {
    background-color: #000000;
    color: #ffa600;
    padding: 6px 4px 0 4px;
  }
  