.App {
  background-color: grey;
  height: 100vh;
  font-size: 14px;
}

.App .container {
  box-sizing: border-box;
  width: 60vw;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: paleturquoise;
} 

.App input {
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 10px;
  height: 2.5em;
}

.App .pad {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}