body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Calculator";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("./fonts/Calculator.woff2") format("woff2"),
}